.background-wrapper {
    background: #000;
    opacity: 0.8;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.post-wrapper {
    position: fixed;
    height: 700px;
    z-index: 1;
    width: 980px;
    top: 50%;
    margin-top: -350px;
    left: 50%;
    margin-left: -490px;
    background-color: #fff;
    display: flex;
}

.post-picture {
    background-color: #dbdbdb;
    height: 100%;
    width: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.post-header {
    width: calc(980px - 600px);
    border-bottom: #efefef 1px solid;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.name {
    font-weight: bold;
    margin-right: 0.25rem;
}

.post-capcap {
    display: flex;
}

.small-avatar {
    height: 32px;
    width: 32px;
    border-radius: 100%;
    margin-right: 0.8rem;
}

.left-arrow {
    position: fixed;
    z-index: 2;
    left: 0;
}

.right-arrow {
    position: fixed;
    z-index: 2;
    right: 0;
}

.post-caption {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}