.user-not-found {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    background-color: #fafafa;
}

.nfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}


//found user
.user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-container {
    max-width: 960px;
}

.user-header {
    width: 960px;
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
}

.following {
    display: flex;
}

.following > *:not(:last-child) {
    margin-right: 1rem;
}