.user-not-found {
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    background-color: #fafafa;
}

.nfound-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
}


//found user
.user-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fafafa;
}

.user-container {
    max-width: 960px;
    padding: 0 1.2rem;
}

.user-header {
    width: calc(960px - 2.4rem);
    display: flex;
    flex-direction: row;
    height: 150px;
    margin: 2rem 0;
}

.details {
    width: 68.5%;
}

.username-section {
    margin-bottom: 20px;
    display: flex;
    p{
        font-size: 28px;
        margin-right: 2rem;
    }
}

.follow-btn {
    background-color: #0095F6;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    padding: 0 24px;
    cursor: pointer;
    &:active {
        opacity: 0.8;
    }
}

.pfp {
    height: 100%;
    width: 290px;
    display: flex;
    justify-content: center;
    img {
        height: 100%;
        aspect-ratio: 1;
        border-radius: 100%;
    }
}

.following {
    display: flex;
    margin-bottom: 20px;
}

.following > *:not(:last-child) {
    margin-right: 2.5rem;
}

.bold {
    font-weight: bold;
}

.post-container {
    border-top: solid 1px #dbdbdb;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 290px 290px 290px;
    justify-content: space-between;
    row-gap: 20px;
}

.picture {
    height: 290px;
    width: 290px;
    background: #dbdbdb;
}