nav {
    width: 100vw;
    border-bottom: 1px solid #dbdbdb;
    height: 60px;
    padding: 0 18rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// nav h1 {
//     margin-right: 14rem;
// }

.nav-search {
    background: #efefef;
    height: 37px;
    width: 265px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;
}

.nav-search img {
    height: auto;
    width: 16px;
    margin-right: 0.5rem;
    position: absolute;
}

.nav-search input {
    background: #efefef;
    border:none;
    font-size: 1rem;
    margin-left: 1.2rem;
}

.nav-search input:focus {
    outline: none;
    margin-left: 0;
}

.nav-search input:focus + .icon {
    display: none;
}

.nav-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.nav-icons img {
    width: 25px;
    height: auto;
}

.nav-profile {
    width: 25px;
    height: 25px;
    background: #000;
    border-radius: 100%;
    position: relative;
}

.drop-down {
    position: absolute;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 230px;
    right: -10px;
    bottom: -84px;
    border-radius: 10px;
    // &::after {
    //     content: "";
    //     width: 20px;
    //     height: 20px;
    //     top: -5px;
    //     right: 12px;
    //     background-color: #fff;
    //     position: absolute;
    //     transform: rotate(45deg);
    // }
}

.arrow {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 30px;
    transform: rotate(45deg);
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.drop-down div {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    z-index: 1;
    &:hover {
        background-color: #fafafa;
    }
}

.drop-down > div:last-child {
    border-top: 2px #dbdbdb solid;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.drop-down > div:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}